
#main-nav {
    margin-top: 20px;
    margin-bottom: 20px;
}

body .form-control {
    display: inline-block;
    padding: .375rem .75rem;
}

body .btn {
    vertical-align: baseline;
    margin-left: 5px;
}

#slideshow-start {
    cursor: pointer;
}

#login-form .form-control {
    width: 200px;
}

body > .navbar-inverse
{
    background-color: #EEE;
}

.input-form:not(:last-child)
{
    margin-bottom: 15px;
}

#authenticated-user-form
{
    float: right;
    display: none;
}

a.navbar-brand,
a.navbar-brand:hover {
    color: #666;
}

a.nav-link {
    color: #000;
}

a.nav-link:hover {
    color: #666;
    text-decoration: underline;
}

.btn:hover {
    cursor: pointer;
}

#idSearchText,
#tagSearchText {
    width: 85%;
}

#idSearch,
#tagSearch {
    width: 13%;
}

.search-group {
    display: flex;
}