
#main-nav {
    margin-top: 20px;
}

body .form-control {
    display: inline-block;
    padding: .375rem .75rem;
}

.slideshow-start {
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 20px;
}

.slideshow-start-image {
    height: 30px;
    width: 30px;
}

#login-form .form-control {
    width: 200px;
}

body > .navbar-inverse
{
    background-color: #EEE;
}

.input-form:not(:last-child)
{
    margin-bottom: 15px;
}

#authenticated-user-form
{
    float: right;
    display: none;
}

a.navbar-brand,
a.navbar-brand:hover {
    color: #666;
}

a.nav-link {
    color: #000;
}

a.nav-link:hover {
    color: #666;
    text-decoration: underline;
}

.btn:hover {
    cursor: pointer;
}

#idSearchText {
    width: 85%;
}

#idSearch,
#tagSearch {
    width: 13%;
}

.search-group {
    display: flex;
}

.hide {
    display: none;
    z-index: -1;
}

/* Loader */

.loader-container {
    position: fixed;
    top: 33%;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.fade.in {
    opacity: 1;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.loader-dialog {
    width: 50px;
    margin: 30px auto;
}

.image-search-row {
    padding-bottom: 10px;
}

.image-search-item {
    height: 200px;
    cursor: pointer;
}

.image-search-item-image-wrapper {
    height: 200px;
}

#slideshow-image {
    height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.featured-artist-piece {
    width: 100%;
}

.view-more-works-by-featured-artist {
    color: blue;
    cursor: pointer;
}

.custom-blockquote {
    background-color: #E0E0E0;
    display: inline-block;
    padding: 10px;
    margin-left: 15px;
}

.tooltip-question-mark {
    height: 15px;
    margin-bottom: 5px;
}

.art-pagination .btn:not(.btn:first-of-type) {
    margin-left: 5px;
}

.home .slideshow-container {
    position: relative;
}

.home .slideshow-slide {
    display: none;
    text-align: center;
}

.home .slideshow-slide > img {
    max-height: 500px;
    max-width: 100%;
    object-fit: contain;
}
.home .slideshow-prev,
.home .slideshow-next {
    font-weight: bold;
    font-size: 2rem;
}

.home .slideshow-button-container-next:hover,
.home .slideshow-button-container-prev:hover {
    cursor: pointer;
    background-color: #DDD;
}

.home .slideshow-button-container-next,
.home .slideshow-button-container-prev {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.next-prev-button-container {
    height: 480px;
    line-height: 440px;
    background-color: #DDD;
    cursor: pointer;
    width: 100%;
}

.home .slideshow-numbertext {
    text-align: center;
    width: 100%;
    padding-top: 5px;
}

.home .slideshow-caption {
    text-align: center;
    width: 100%;
    padding: 2px 16px;
}